@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: euclidCircularB;
    src: url(/static/EuclidCircularB-Regular-WebM-91d81ee72b93ca24a2024c37602c11b2.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: euclidCircularB;
    font-weight: 500;
    src: url(/static/EuclidCircularB-Medium-3d208ed259f6be7deb77e45e853cf992.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: euclidCircularB;
    font-weight: 600;
    src: url(/static/EuclidCircularB-Semibold-WebM-94e67fdbaee5757b3fe9325af7dff0c0.woff2) format("woff2");
}

.hp-container {
    margin: auto;
    max-width: 1248px;
    padding: 0 24px;
    position: relative;
}

.hp-container.lg {
    max-width: 1440px;
}

.hp-container.xl {
    max-width: 1680px;
}

.hp-container.full-width {
    padding: 0;
}

.spinner {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.nav-top {
    direction: ltr;
    position: relative;
}

@media screen and (min-width: 960px) {
    .nav-top {
        z-index: 9999;
    }
}

a {
    text-decoration: none;
}

a :visited {
    color: none;
}

a.inline-link {
    text-decoration: underline;
}

button {
    background: none;
    cursor: pointer;
}

.cta-btn {
    border-radius: 100px;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.bg-circle {
    border-radius: 50%;
    position: absolute !important;
}

.bg-image-container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.cookie-declaration a {
    color: #2eb875;
}

[dir=rtl] .nav-top {
    direction: rtl;
}

@media screen and (min-width: 960px) {
    [dir=rtl] .logo {
        margin-left: 16px;
        margin-right: -16px;
    }
}

ol,
ul {
    white-space: normal;
}

@supports (height: 100dvh) {
    .navigation-safe-screen {
        height: 100dvh;
    }
}

@supports not (height: 100dvh) {
    .navigation-safe-screen {
        height: 100vh;
        padding-bottom: calc(env(safe-area-inset-bottom) + 32);
    }
}

@supports not (padding-bottom: env(safe-area-inset-bottom)) {
    .navigation-safe-screen {
        height: 100vh;
        padding-bottom: 200px;
    }
}

.transition-navigation {
    transition: background .5s cubic-bezier(.28, .11, .32, 1) 0ms, border .25s ease-in-out 0ms;
}

html {
    -webkit-font-feature-settings: "tnum" on, "lnum" on;
    font-feature-settings: "tnum" on, "lnum" on;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;
}