@tailwind base;
@tailwind components;
@tailwind utilities;

.columnTitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.333;
    margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
    .columns {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 480px) {
    .footerMain {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.columns {
    margin-bottom: 28px;
}

*, :after, :before {
    box-sizing: border-box;
}

.columnElements {
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.333;
    margin-bottom: 16px;
}

.columnElements:hover {
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.333;
    margin-bottom: 16px;
    color: rgb(56, 216, 136);
}

.columnElement {
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a {
    text-decoration: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    line-height: inherit;
    margin: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-family: euclidCircularB, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4;
}

html {
    -webkit-font-feature-settings: "tnum" on, "lnum" on;
    font-feature-settings: "tnum" on, "lnum" on;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
    .mhrtu80.container {
        padding-bottom: 80px;
        padding-top: 80px;
    }
}

.mhrtu80.container {
    padding-bottom: 40px;
    padding-top: 40px;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.footerMain {
    display: flex;
}

.columns {
    flex: 0 0 auto; /* Prevent columns from growing */
    width: calc(50% - 14px); /* Set the width of each column */
    margin-bottom: 28px;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-shadow-colored: 0 0 transparent;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

.cursor-pointer {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

[role=button], button {
    cursor: pointer;
}


@media (min-width: 960px) {
    .md\:mb-0 {
        margin-bottom: 0;
    }
}

.items-start {
    align-items: flex-start;
}

.flex-col {
    flex-direction: column;
}

.basis-\[25\%\] {
    flex-basis: 25%;
}

.mb-7 {
    margin-bottom: 1.75rem;
}

element.style {
    max-width: 69px;
    display: block;
}

element.style {
    opacity: 0;
    transition: opacity 500ms linear 0s;
    background-color: rgb(56, 216, 136);
    position: absolute;
    inset: 0px;
}

.gatsby-image-wrapper-constrained {
    display: inline-block;
    vertical-align: top;
}

.gatsby-image-wrapper {
    position: relative;
    overflow: hidden;
}